[phases.setup]
nixPkgs = [
  "nodejs_22",
  "npm-9_x",
  "python3",
  "python3Packages.pip",
  "pkg-config",
  "opencv4",
  "gcc",
  "cmake"
]

[phases.install]
cmds = ["npm i"]

[phases.build]
cmds = ["npm install", "npm rebuild @u4/opencv4nodejs || echo 'OpenCV rebuild skipped'"]

[start]
cmd = "node start-all.js"
